@tailwind base;
@tailwind components;
@tailwind utilities;

/*arrows*/
.slick-prev{
    left:3% !important;
    z-index:1;
    
}

.slick-next{
    right:3% !important;
    z-index:1;
}

.arrow-content-left {
  width: 50px;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.5);
 border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Add other styles as needed */
}
